@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap%27');

*{
    margin: 0;
    padding: 0;
}

.nomeSite, .navBar, .subpaginas, .botoes {
    display: flex;
}

.nomeSite{
    margin-left: 6.3vw;
    margin-top: 18px;
}

.nomeSite > img {
    width: 27px;
    height: 27px;
   
}

.nomeSite > h2 {
    font-family: 'Inter', sans-serif;
    color: #3A404E;
    margin-left: 0.6vw;
}

.subpaginas {
    margin-left: 7.8vw;
    width: 32%;
    margin-top: 22px;
}

.subpaginas :hover{
    cursor: pointer;
    text-decoration: underline;
}

.subpaginas > p {
    font-family: 'Inter', sans-serif;
    color: #3A404E;
    font-size: 16px;
    line-height: 24px;
    margin-left: 32px;
}

.botoes {
    margin-top: 25px;
    margin-left: 23vw;
    font-family: 'Inter', sans-serif;
}

.botoes :hover {
    cursor: pointer;
}

.cadastro-botao {
    margin-left: 2vw;
    background-color: #8E2424;
    width: 112px;
    height:44px;
    border-radius: 8px;
    text-align: center;
    margin-top: -0.8vw;
}


.cadastro-botao > p {
    margin: 12px 18px 10px 18px;
    color: white;
    font-family: 'Inter', sans-serif;

}

.logar-botao :hover {
    text-decoration: underline;
    cursor: pointer;
}


.navBar {
    width: 100vw;
}
