@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@media screen  and (min-width:930px){
    *{
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    a{
        text-decoration: none;
    }

    .nomeSite, .navBar, .subpaginas, .botoes {
        display: flex;
    }

    .nomeSite{
        margin-left: 6.3vw;
        margin-top: 18px;
    }



    .nomeSite > img {
        width: 27px;
        height: 27px;
    
    }

    .nomeSite > h2 {
        font-family: 'Inter', sans-serif;
        color: #3A404E;
        margin-left: 0.6vw;
    }

    .subpaginas {
        margin-left: 7.8vw;
        width: 32%;
        margin-top: 22px;
    }

    .subpaginas :hover{
        cursor: pointer;
        text-decoration: underline;
    }

    .subpaginas > p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #3A404E;
        font-size: 16px;
        line-height: 24px;
        margin-left: 32px;
    }

    .botoes {
        position: absolute;
        right: 6.8vw;
        margin-top: 25px;
        margin-left: 23vw;
        font-family: 'Inter', sans-serif;
    }

    .botoes :hover {
        cursor: pointer;
    }

    .cadastro-botao {
        margin-left: 2vw;
        background-color: #8E2424;
        width: 112px;
        height:44px;
        border-radius: 8px;
        text-align: center;
        margin-top: -1.5vh;
    }


    .cadastro-botao > p {
        margin: 12px 18px 10px 18px;
        color: white;
        font-family: 'Inter', sans-serif;

    }

    .logar-botao :hover {
        text-decoration: underline;
        cursor: pointer;
    }
    

    .navBar {
        width: 100vw;
    }

    .sobreNos {
        margin-top: 96px;
        text-align: center;
    }

    .sobreNos > h3 {
        font-family: 'Inter', sans-serif;
        color: #8E2424;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .sobreNos > p {
        margin: auto;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        width: 51vw;
        
    }

    .sobreNos > h1 {
        font-family: 'Inter', sans-serif;
        margin-bottom: 36px;
        font-weight: bolder;
        font-size: 48px;
    }

    .dados {
        display: flex;
        margin-left: 6vw
    }

    .subDados {
        margin-left: 3vw;
        text-align: start;
        margin-top: 14vh;
        
    }

    .subDados > h1 {
        font-size: 60px;
        font-family: 'Inter', sans-serif;
        color: #8E2424;
        font-weight: 600;
        margin-bottom: 1vh;
    }

    .subDados > h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 550;
        margin-bottom: 0.7vh;
    }

    .subDados > p {
        font-family: 'Inter', sans-serif;
        width: 18vw;
        color: #667085;
        line-height: 24px;
    }
}


/*--------------------------------------------------*/

@media screen  and (max-width:930px){
    *{
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    a{
        text-decoration: none;
    }

    .nomeSite, .navBar, .subpaginas, .botoes {
        display: flex;
    }

    .nomeSite{
        margin-left: 1.3vw;
        margin-top: 18px;
    }



    .nomeSite > img {
        width: 27px;
        height: 27px;
    
    }

    .nomeSite > h2 {
        font-family: 'Inter', sans-serif;
        color: #3A404E;
        margin-left: 0.6vw;
    }

    .subpaginas {
        /*
        position: absolute;
        margin-left: 7.8vw;
        width: 32%;
        margin-top: 22px;*/
        display: none;
    }

    .subpaginas :hover{
        cursor: pointer;
        text-decoration: underline;
    }

    .subpaginas > p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #3A404E;
        font-size: 16px;
        line-height: 24px;
        margin-left: 32px;
    }

    .botoes {
        margin-right: 1vw;
        margin-top: 25px;
        font-family: 'Inter', sans-serif;
    }

    .botoes :hover {
        cursor: pointer;
    }

    .cadastro-botao {
        margin-left: 2vw;
        background-color: #8E2424;
        width: 112px;
        height:44px;
        border-radius: 8px;
        text-align: center;
        margin-top: -1.5vh;
    }


    .cadastro-botao > p {
        margin: 12px 18px 10px 18px;
        color: white;
        font-family: 'Inter', sans-serif;

    }

    .logar-botao :hover {
        text-decoration: underline;
        cursor: pointer;
    }
    

    .navBar {
        justify-content: space-between;
        width: 100vw;
    }

    .sobreNos {
        margin-top: 3vh;
        text-align: center;
        
    }

    .sobreNos > h3 {
        font-family: 'Inter', sans-serif;
        color: #8E2424;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .sobreNos > p {
        margin: auto;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        width: 51vw;
        
    }

    .sobreNos > h1 {
        font-family: 'Inter', sans-serif;
        margin-bottom: 36px;
        font-weight: bolder;
    }

    .dados {
        display: flex;
    }

    .subDados {
        margin: auto;
        text-align: start;
        margin-top: 8vh;
    }

    .subDados > h1 {
        font-size: 9vw;
        font-family: 'Inter', sans-serif;
        color: #8E2424;
        font-weight: 600;
        margin-bottom: 1vh;
    }

    .subDados > h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 550;
        margin-bottom: 0.7vh;
        font-size: 3vw;
    }

    .subDados > p {
        font-family: 'Inter', sans-serif;
        width: 18vw;
        font-size: 3vw;
        color: #667085;
        line-height: 4.5vw;
        
    }
}
